<div class="container ">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <h3 class="need-help">Need Some Help?</h3>
        <form action="" class="support-form">
          <textarea mdbInput class="form-control (resize) text-light" id="textAreaExample" rows="12" placeholder="Type Here..."></textarea>
          <button type="button" class="btn sendr-btn mt-5 mb-3">Send</button>
          <h5 class="support-text mt-5 mb-3">Can't find what you need? Send us a help Request.</h5>
          <button type="button" class="btn contactr-btn mt-3 mb-3">Contact Us</button>
          <h5 class="support mt-3 mb-3">Or Send  Us Email at <a href="">abc@gmail.com</a></h5>
        </form>
    </div>
  </div>
</div>
