.container {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffffff0d, #ffffff2b);
  .iconsBtn {
    position: absolute;
    right: 30px;
    p,
    text{
        margin: 0;
        color: var(--headings-primary-color);
    }
    button {
      background: none;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      border-color: #fff;
      margin-left: 10px;
      &:last-child {
        width: 40px;
        height: 40px;
      }
      i {
        color: #fff;
      }
    }
  }
}
h3 {
  color: var(--headings-primary-color);
  font-family: josefinsemiregular;
  margin: 0;
}
.headingHeight{
  transform: translateY(-6px);
}
.dropdown-toggle::after {
  content: unset;
}
.form input{
  background-color: #3a3a3a;
  padding: 8px 11px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 100%;
}
.profileBox{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  img{
    object-fit: cover;
  }
}
.heading,.headingLight {
  font-family: josefinsemiregular;
  color: #fff;
  margin-left: 20px;
}
.headingLight{
  font-family: josefinsemilight;
}
.btn-close{
  margin-left: 10px;
    margin-top: 10px;
}
.cancel-btn {
  background-color: #bb2b2b;
  color: #fff;
  padding: 5px 40px;
  border-radius: 50px;
}
.add-btn {
  background-color: #2b98bb;
  padding: 5px 40px;
  color: #fff;
  border-radius: 50px;
}