.cstmPadding{
    padding: 0 3rem;
}
.heading,
.stockStatus {
    font-family: josefinsemiregular;
    color: #fff;
}

.form input,
.form textarea,
.imgBox {
    background-color: #3a3a3a;
    padding: 8px 11px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.form input{
    width: 100%;
}
.add-table {
    color: #fff;
    padding: 5px 38px;
    background: transparent;
    border: none;
}

.addImage {
    color: #fff;
    font-size: 2rem
}
.imgBox {
    min-height: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 90%;
        height: 90%;
        object-fit: cover;
    }
}

.addProfileLabel {
    font-family: josefinsemilight;
    color: #fff;
}
.cancel-btn {
    background-color: #bb2b2b;
    color: #fff;
    padding: 5px 40px;
    border-radius: 50px;
  }
  .add-btn {
    background-color: #2b98bb;
    padding: 5px 40px;
    color: #fff;
    border-radius: 50px;
  }
.checkBox{
    width: unset !important;
}
.stockStatus{
    margin: 0;
    span{
        color: #04AD5C;
    }
}
.checkoutModal.completed {
    justify-content: center;
  }
  .exclamationMark {
    position: absolute;
    right: -60px;
    bottom: -60px;
    width: 200px;
    height: 150px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }