<div class="cartBox" *ngFor="let item of data; let i = index">
    <div class="cartItemPic">
        <img src="{{item?.img}}" alt="">
    </div>
    <div class="cartcontent">
        <div class="d-flex justify-content-between">
            <h6>{{item?.item}}</h6>
            <h6>{{duplicateItems?.[i]?.count}}</h6>
        </div>
        <p>{{item?.description}}</p>
        <div class="cartItemAction">
            <div class="cartItemActionbtns">
                <button class="btn btn-success" (click)="editItem(item)">
                    <i class="fa fa-edit fa-sm"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteItem(item)">
                    <i class="fa fa-trash fa-sm"></i>
                </button>
            </div>
            <div class="cartPrice">
                <h4>{{item?.price | currency:"USD"}}</h4>
            </div>
        </div>
    </div>
</div>