// modal Css
.modal-title {
  color: #fff;
}
.modal-footer {
  border-top: none;
}

.form input,
.form textarea,
.imgBox {
  background-color: #3a3a3a;
  padding: 8px 11px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.cancel-btn {
  background-color: #bb2b2b;
  color: #fff;
  padding: 5px 40px;
  border-radius: 50px;
}
.add-btn {
  background-color: #2b98bb;
  padding: 5px 40px;
  color: #fff;
  border-radius: 50px;
}
.add-table {
  color: #fff;
  padding: 5px 38px;
  background: transparent;
  border: none;
}
.addImage{
    color: #fff;
    font-size: 2rem
}
.imgBox{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addProfileLabel{
    font-family: josefinsemilight;
    color: #fff;
}
